/* /* :root
.body{
  display: grid;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fluid-container{
display: flexbox;
padding: auto;
}

/* img{
  align-content: flex-end;
  max-width: 200px;
  max-height: 500px;
} */

/* .form-control{
  
}

.card{
  display: grid;
  
} */
/* img {
  max-width: 100%;
  height: auto;
} */

/*img {
  display: block;
  width: 1000px;
  height: 300px;
}

.grid-container {
  display: grid;
  row-gap: 10px;
  grid-template-columns: 40%, 40%, 10%, 10%;
  gap: 10px;
  background-color: grey;
  padding: 10px;
}

.grid-container>div {
  background-color: none;
  text-align: left;
  padding: 75px 0;
  font-size: 25px;
}

.item1 {
  grid-column: 1 / span 2;
}

.item2 {
  grid-column: span 1;
}

.item3 {

  grid-row: span 3;
}

.footer {
  background-color: black;
  text-align: right;
  padding: 10px;
} */